.back_btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem 1rem;
    background-color: #BD93F9; 
    color: #121212; 
    cursor: pointer;
    border: none;
    border-radius: 5px;
    opacity: 0.9;
    margin: 10px;
}
  
.back_btn:hover {
    opacity: 1;
}

@media(max-width: 360px) {
    .back_btn {
        font-size: 12px;
        padding: 0.5rem 0.7rem;
        top: 0.3rem;
        left: 0.3rem;
        margin: 5px;
    }
}

@media(max-width: 340px) {
    .back_btn {
        padding: 0.3rem 0.5rem;
    }
}