.user {
    background-color: #1E1E2E;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
}

.user img {
    width: 140px;
    height: 140px;
    border: 4px solid #BB86FC;
    border-radius: 50%;
}

.user h2 {
    text-align: center;
    line-height: 1.3;
}

.location {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.location svg {
    fill: #00E676;
    font-size: 1.5rem;
}

.location span {
    color: #BB86FC;
    font-weight: bold;
    line-height: 1.3;
}

.stats {
    display: flex;
}

.stats div {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.stats .number {
    background-color: #00E676; 
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    color: #121212;
}

.user a {
    text-align: center;
    background-color: #6200EA;
    padding: 1rem;
    border-radius: 5px;
    opacity: 0.8;
    transition: 0.3s;
}

.user a:hover {
    opacity: 1;
    background-color: #BB86FC;
}

@media(max-width: 425px) {
    .user h2 {
        font-size: 18px;
    }

    .location svg {
        display: none;
    }

    .location span {
        font-size: 16px;
    }

    .stats p,
    .stats .number {
        font-size: 14px;
    }

    .user a {
        padding: 0.7rem;
        font-size: 14px;
    }
}