.app {
    max-width: 500px;
    margin: 0 auto;
}

.app h1 {
    text-align: center;
    margin-bottom: 1.2rem;
    color: #BB86FC;
    text-shadow: 0 0 10px #BB86FC;
}

@media(max-width: 425px) {
    .app h1 {
        font-size: 22px;
    }
}
